body {
    font-family: 'Lucida Grande', Arial, sans-serif;
    font-size: 100%;
    background-color: white;
    color: #000;
    margin: 3em;
    padding: 3em;
}

div#version {
    margin: 1em;
    text-align: center;
    font-size: 75%;
}

.ui-progressbar {
    position: relative;
}

.progress-label {
    position: absolute;
    left: 45%;
    top: 4px;
    text-shadow: 1px 1px 0 #fff;
}

td:first-child {
    width: 1px;
    white-space: nowrap;
}