body {
    font-family: 'Lucida Grande', Arial, sans-serif;
    font-size: 100%;
    background-color: white;
    color: #000;
    margin: 3em;
    padding: 3em;
}

div#version {
    margin: 1em;
    text-align: center;
    font-size: 75%;
}